<div class="hero-section"
  style="background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.9)), url(assets/images/hero_image.jpg);">

  <div class="section-text">
    <h2>Web Developer</h2>
    <p class="hero-text">Hello, Myself Pratik Shinde, I like to build interesting projects, Explore new technologies,
      Listen Music. Always follower of standardized creation. </p>
    <a class="btn hero-btn" href="assets/pratik-shinde-resume.pdf" download>Download Resume</a>
  </div>
</div>
<app-projects></app-projects>
<app-about> </app-about>
<app-contact></app-contact>