<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
          type="button" data-toggle="collapse hide" data-target="#collapseOne" aria-expanded="false"
          aria-controls="collapseOne">
          {{eduInfo.head}}
        </button>
      </h5>
    </div>

    <div id="collapseOne" [ngbCollapse]="isCollapsed" class="collapse" aria-labelledby="headingOne"
      data-parent="#accordionExample">
      <div class="card-body">
        <h6 class="card-title">Studied At : {{eduInfo.studiedAt}}</h6>
        <p class="card-text">{{eduInfo.body}}</p>
        <p> Started: {{eduInfo.startYear}}</p>
        <p>Completed: {{eduInfo.endYear}}</p>
      </div>
      <p></p>
    </div>
  </div>
</div>