<nav class="navbar nav-tabs sticky--nav">

  <div class="profile-container">
    <div class="img-container">
      <img src="./assets/images/me.jpg" alt="profile img">
    </div>
    <div class="name-container">
      <span class="name">PRATIK SHINDE</span>
      <span class="designation">WEB DEVELOPER</span>
      <span class="location">PUNE MH INDIA</span>
    </div>
  </div>
  <h4>MENU</h4>
  <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/projects">PROJECTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/skills">SKILLS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about">ABOUT ME</a>
      </li>
    </ul>
    <div class="copy-right-container">
      <span>All copy rights are reserved 2020.</span>
      <span>Made With Love In IN</span>
    </div>
</nav>
