<div class="nav--wrapper">
  <nav class="navbar nav-tabs navbar-inverse">
    <ul class="navbar nav">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-toggle="tab"
          class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/projects" routerLinkActive="active" data-toggle="tab" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" routerLinkActive="active" data-toggle="tab" class="nav-link">Contact</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" data-toggle="tab" class="nav-link">About Me</a>
      </li>
    </ul>
    <a class="btn btn-primary" routerLinkActive="active" type="button">Search</a>
  </nav>
  </div>
  <router-outlet></router-outlet>
