
.skill--container {
  position: relative;
  // width: 16%;
  background-color: rgb(226, 226, 243);
  --skill-color: rgb(165, 52, 218);
  border-bottom: var(--skill-color) .5em solid;
  // margin: 0 .2em;
}

.skill--container:hover {
  transform: scale(1.009);
  transition-timing-function: ease-in-out;
  box-shadow: 0px 15px 10px rgb(202, 202, 202);
}

.skill--container:nth-child(odd) {
  background-color: seashell;
}

.symbol--container {
  width: 100%;
  position: relative;
  display: block;
  height: 3.4em;
  text-align: -webkit-right;
}

.symbol {
  clip-path: polygon(0 0, 100% 0,100% 100%, 46% 60%, 0 100%);
  background-color: var(--skill-color);
  position: relative;
  right: 1em;
  width: 3.2em;
  height: 100%;
}

.icon--container {
  position: absolute;
  font-size: larger;
  width: 100%;
  height: 100%;
  text-align: center;
}

.text--container {
  position: relative;
  margin: 1.2em 0;
}

.header--text {
  text-align: center;
  font-size: larger;
  padding: 1em .5em;
  color: rgb(49, 49, 49);

}

.body--text {
  font-size: large;
  margin-bottom: 1em;
  text-align: justify;
  padding: 1em .5em;
}

h5 {
  font-weight: 400;
  // width: 15ch;
  // overflow-x: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // &:hover {
  //   transition-duration: 600ms;
  //   white-space: normal;
  // }
}

